body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: grey;
  box-sizing: border-box;
  width: 35vw;
  height: 90vh;
  margin: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  background-color: black;
  box-sizing: border-box;
  border: 3.5vh solid rgb(175, 164, 164);
  color: white;
  width: 100%;
  height: 18%;
  padding-left: 2vw;
  padding-top: 2vh;
  font-family: math;
  font-size: 5.5vh;
  font-weight: 600;
}
.digits {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 82%;
  padding: 1vh 1vw;
}
.number-digits {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* align-items: center; */
  /* justify-content: space-around; */
  width: 75%;
  height: 100%;
}
.whole-digits {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 60%;
  width: 100%;
}
.whole-digits > div {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
}
.special-digits {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  height: 20%;
  width: 100%;
}
.top-special-digits {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 20%;
  width: 100%;
}
.operations {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.top-special-digits button {
  box-sizing: border-box;
  height: 80%;
  width: 33.33%;
  border: 10px solid grey;
  font-size: larger;
  font-weight: 500;
  color: black;
  background-color: rgb(245, 245, 245);
}
.whole-digits button {
  box-sizing: border-box;
  border: 10px solid grey;
  height: 100%;
  width: 33%;
  color: black;
  background-color: rgb(245, 245, 245);
  font-size: larger;
  font-weight: 500;
}
.special-digits button {
  box-sizing: border-box;
  height: 80%;
  width: 33.33%;
  border: 10px solid grey;
  font-size: larger;
  font-weight: 500;
  color: black;
  background-color: rgb(245, 245, 245);
}
.operations button {
  box-sizing: border-box;
  border: 10px solid grey;
  height: 16.67%;
  width: 100%;
  background-color: rgb(250, 34, 34);
  color:  rgb(245, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: larger;
  font-weight: 700;
}

@media screen and (max-width: 980px) {
  .container {
    width: 45vw;
  }
}
@media screen and (max-width: 760px) {
  .container {
    width: 55vw;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 75vw;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 85vw;
  }
  .top-special-digits button {
    border: 3px solid grey;
    box-shadow: 4px 4px 1px rgb(26, 25, 25);
  }
  .whole-digits button {
    height: 80%;
    border: 3px solid grey;
    box-shadow: 4px 4px 1px rgb(26, 25, 25);
  }
  .special-digits button {
    border: 3px solid grey;
    box-shadow: 4px 4px 1px rgb(26, 25, 25);
  }
  .operations {
    justify-content: space-around;
  }
  .operations button {
    height: 12%;
    width: 80%;
    gap: 2px;
    border: 0px solid grey;
    box-shadow: 3px 3px 2px rgb(70 2 2);
  }
}
